* {
  padding: 0px;
  margin: 0;
}

body {
  background-color: antiquewhite;
  background-image: radial-gradient(antiquewhite, antiquewhite, orange);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type="text"]::placeholder {
  color: black;
}

a {
  color: rgb(40, 31, 162);
  text-decoration: none;
}

a:hover {
  color: red;
}

.form {
  margin: 10px;
  width: 50%;
  color: white;
  background-color: rgb(0, 102, 255);
  box-shadow: -2px -2px 5px rgb(0, 187, 255);
  font-size: 30px;
  padding: 4px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: inline;
}

.search-input {
  width: 60%;
  height: 50px;
  font-size: 24px;
  padding: 4px;
}

.submit-button {
  font-size: 16px;
  height: 40px;
  margin-bottom: 2px;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid rgb(0, 187, 255);
  white-space: nowrap;
  margin: 5px;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  25% {
    border-color: rgb(0, 255, 55);
  }
}

.maincontainer {
  border: 5px solid rgb(0, 102, 255);
  box-shadow: -1px -1px 5px rgb(0, 102, 255);
  background-color: white;
  padding: 10px;
  max-height: 50%;
  min-width: 50%;
  max-width: 50%;
  min-height: 50%;
  border-radius: 10px;
  overflow: auto;
}

.result {
  border: 0.001px solid gray;
  box-shadow: 2px 2px rgb(0, 102, 255);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  font-size: 30px;
  box-sizing: border-box;
}

.foot {
  margin-top: 20px;
  background-color: black;
  width: 1500px;
  height: 50px;
}
